{% extends "_global/login.html" %}

{% block main %}
    <div class="col col-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                Sign up
            </div>

            <div class="card-body">
                <form action="{{ BASE }}/user/register" method="POST" onsubmit="return validateForm()">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>

                            <input type="text" id="input_username" name="reg_username"
                                class="form-control"
                                required placeholder="Enter username."
                                pattern="^[a-zA-Z0-9._-]{2,64}$"
                                titile="Enter more then 2 alpha numeric characters or '.' , '_', '-'">                        
                        </div>
                        <div class="alert alert-danger d-none" id="username-error-message"></div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-at"></i>
                                </span>
                            </div>
                            
                            <input type="email" id="input_email" name="reg_email"
                                class="form-control"
                                required placeholder="Enter email.">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col col-12 col-md-6">
                            <div>
                                <label for="input_forename">Firstname:</label>
                                <input type="text" id="input_forename" name="reg_forename"
                                    class="form-control"
                                    required placeholder="Enter your firstname."
                                    pattern="^[a-zA-Z ]{1,64}$" title="Enter from 1 to 64 alphanumeric characters or space.">
                                    </div>
                            <div class="alert alert-danger d-none" id="forename-error-message"></div>
                        </div>
                        

                        <div class="form-group col col-12 col-md-6">
                            <label for="input_surname">Lastname:</label>
                            <input type="text" id="input_surname" name="reg_surname"
                                class="form-control"
                                required placeholder="Enter your lastname."
                                pattern="^[a-zA-Z ]{1,64}$" title="Enter from 1 to 64 alphanumeric characters or space.">
                            <div class="alert alert-danger d-none" id="surname-error-message"></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col col-12 col-sm-12 col-md-6">
                            <label for="input_password_1">Password:</label>
                            <input type="password" id="input_password_1" name="reg_password_1"
                                class="form-control"
                                required placeholder="Enter password." 
                                pattern=".{12,}">
                            <div class="alert alert-danger d-none" id="password_1-error-message"></div>
                        </div>

                        <div class="form-group col col-12 col-sm-12 col-md-6">
                            <label for="input_password_2">Re-enter password:</label>
                            <input type="password" id="input_password_2" name="reg_password_2"
                                class="form-control"
                                required placeholder="Re-enter password."
                                pattern=".{12,}" title="Enter 12 or more characters.">
                            <div class="alert alert-danger d-none" id="password_2-error-message"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary col col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8">
                        <i class="fa fa-user-plus"></i> Sign up
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ BASE }}assets/js/validators.js"></script>

{% endblock %}

{% block naslov %}
Registration
{% endblock %}
