{% extends "_global/login.html" %}

{% block main %}
<div class="col col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-pencil"></i> 
            User log in
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <input type="text" id="username" name="username"
                            class="form-control"
                            required placeholder="Enter a username."
                            pattern="^[a-zA-Z0-9._-]{2,64}$"
                            titile="Enter more then 2 alpha numeric characters or '.' , '_', '-'">
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password"
                        class="form-control"
                        required placeholder= "Enter a password."
                        pattern=".{12,}"
                        titile="Enter more then 12 characters">

                </div>
                <button type="submit" class="btn btn-primary col col-12 col-md-4 offset-md-8">
                    <i class="fa fa-sign-in"></i> Log in
                </button> 
                            
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block naslov %}
Login
{% endblock %}
