{% extends "_global/login.html" %}

{% block main %}
    <p>{{ message|escape }}</p>

    <p><a href="{{ BASE }}user/register/">Go back on registration page</a></p>
{% endblock %}

{% block naslov %}
Registrtion
{% endblock %}
