{% extends "_global/index.html" %}

{% block main %}


<div>
    <a class="btn btn-primary" href="{{ BASE }}user/categories/add" role="button">
        <i class="fa fa-plus"></i> Add a new category
    </a>
    <div class="col col-12 col-md-8 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
     <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr class="text-center">
                <th> Categories </th>
                <th></th>
            </tr>
            
            </thead>
            <tbody>  
                {% for category in categories %}
                <tr>
                    <td>
                        {{ category.name|escape }}
                    </td>
                    <td class="text-center">
                        <a href="{{ BASE }}user/categories/edit/{{ category.category_id }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
   
            <a href="{{ BASE }}user/categories/edit/{{ category.category_id }}">
                {{ category.name|escape }}
            </a>
   
</div>
{% endblock %}

{% block naslov %}
Categories list
{% endblock %}
