{% extends "_global/index.html" %}

{% block main %}
    <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                Add new category
            </div>

            <div class="card-body">
                <form action="{{ BASE }}user/categories/add/" method="POST" onsubmit="return validateCategoryForm()">
                <div class="row">
                    <div class="form-group col col-12 col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" id="name" name="name"
                                class="form-control"
                                required placeholder="Enter category name"
                                pattern=".*[^\s]{3,}.*">
                        </div>
                        <div class="alert alert-danger d-none" id="name-error-message"></div>
                    </div>

                    <div class="form-group col col-12 col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select_type">Type:</label>
                            </div>
                            <select class="custom-select" id="select_type" name="type">
                                    <option value="income">Income</option>
                                    <option value="outcome">Outcome</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col col-12 col-md-2"> 
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>
<script src="{{ BASE }}assets/js/validators.js"></script>

{% endblock %}

{% block naslov %}
Add category
{% endblock %}
