{% extends "_global/index.html" %}

{% block main %}
    <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                Edit category
            </div>

            <div class="card-body">
                <form action="{{ BASE }}user/categories/edit/{{category.category_id}}" method="POST">
                <div class="row">
                    <div class="form-group col col-12 col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" id="name" name="name"
                                class="form-control"
                                value="{{ category.name|escape }}"
                                required placeholder="Enter category name"
                                pattern=".*[^\s]{3,}.*">
                        </div>
                    </div>
                    <div class="form-group col col-12 col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select_type">Type:</label>
                            </div>
                            <input type="text" id="select_type" name="type"
                                class="form-control"
                                value="{{ category.category_type|escape }}"
                                disabled>
                        </div>
                    </div>
                    <div class="col col-12 col-md-2"> 
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>
{% endblock %}

{% block naslov %}
Edit category
{% endblock %}
