{% extends "_global/index.html" %}

{% block main %}
<a href="{{ BASE }}user/categories">
    List all categories
</a>

<p>{{ message|escape }}</p>

{% endblock %}

{% block naslov %}
Edit category
{% endblock %}
