{% extends "_global/index.html" %}

{% block main %}

    <a class="btn btn-primary" href="{{ BASE }}user/cashboxes/add" role="button">
        <i class="fa fa-plus"></i> Add a new cashbox
    </a>
    <br>
    
<div class="d-flex flex-column-reverse my-flex-container-column align-items-center">
    {% for cashbox in cashboxes %}
        <div class="col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" id="cashbox-{{ cashbox.cashbox_id }}">
            <div class="p-2 my-flex-item d-none" id="cashboxId_{{ cashbox.cashbox_id }}">{{ cashbox.priority|escape }}</div>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-12 col-md-6 col-lg-8">
                        <p class="h2"> 
                            <a href="{{ BASE }}user/cashboxes/detail/{{ cashbox.cashbox_id }}" class="col col-10 card-link">
                                {{ cashbox.name|escape }}
                            </a>
                        </p>
                        </div>
                        <div class="col col-12 col-md-6 col-lg-4 text-right">
                            <span class="card-text text-secondary">Priority:</span>
                        
                            <button type="button" class="btn btn-link text-danger" onclick="decrementPriority({{cashbox.cashbox_id}})">
                                    <i class="fa fa-minus"></i>
                                                                    
                            </button>
                            <button type="button" class="btn btn-link text-success" onclick="incrementPriority({{cashbox.cashbox_id}})">
                                    <i class="fa fa-plus"></i>
                                                                    
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p  class="card-text">
                        {{ cashbox.description|escape }}
                    </p>
                    <p  class="card-text text-secondary">
                    
                        <b>Last change</b>
                        <br>
                        {{ cashbox.record_created_at|date('d-m-Y H:m') }}
                        <br>
                        {{ cashbox.category_type|escape }} - {{ cashbox.cash|escape }}{{ cashbox.currency|escape }}
                    </p>                   
                    <h2 class="card-text text-right"> {{ cashbox.saldo|escape }} {{ cashbox.currency|escape }}</h2>
                </div>
            </div>
        <br>
        </div>
        
    {% endfor %}
</div>
<script src="{{ BASE }}assets/js/cashboxes.js"></script>
{% endblock %}

{% block naslov %}
Cashbox list
{% endblock %}
