{% extends "_global/index.html" %}

{% block main %}
    <div class="col col-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                New Cashbox
            </div>

            <div class="card-body">
                <form action="{{ BASE }}user/cashboxes/add" method="POST" onsubmit="return validateCashboxForm()">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="input_cashbox_name">Name:</label>
                            </div>                            
                            <input type="text" id="input_cashbox_name" name="cashbox_name"
                                class="form-control"
                                required placeholder="Cashbox name."
                                pattern=".*[^\s]{3,}.*"
                                title="Enter 3 or more visible characters.">
                            </div>
                        <div class="alert alert-danger d-none" id="cashbox_name-error-message"></div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="input_description" name="cashbox_description"
                                class="form-control"
                                required placeholder="Cashbox description."
                                pattern=".*[^\s]{3,}.*"
                                title="Enter 3 or more visible characters.">
                        </div>
                        <div class="alert alert-danger d-none" id="cashbox_description-error-message"></div>
                    </div>

                    
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select_currency">Currency:</label>
                            </div>
                            <select class="custom-select" id="select_currency" name="cashbox_currency" >
                                <option value="RSD">RSD</option>
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Cashbox
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ BASE }}assets/js/validators.js"></script>

{% endblock %}

{% block naslov %}
Add cashbox
{% endblock %}
