{% extends "_global/index.html" %}

{% block main %}
<input type="number" id="cashboxId" value={{cashbox.cashbox_id}} hidden>
    <div class="col col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
    <div class="text-right">
        <a class="btn btn-primary" role="button" href="{{ BASE }}user/cashboxes/edit/{{ cashbox.cashbox_id }}">
            <i class="fa fa-pencil"></i> Edit
        </a>
    </div>
        <div class="text-center">
            <h1>{{ cashbox.name|escape }}</h1>
            <h3>Saldo: {{ cashbox.saldo|escape }}</h3>
        </div>
        <div>
            <p>{{ cashbox.description|escape }}</p>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                Add new transaction record
            </div>

            <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col col-12 col-md-10 offset-md-1 col-lg-4 offset-lg-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0.01" step="0.01" id="input_record_value" name="record_value"
                                class="form-control"
                                required placeholder="0.00">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ cashbox.currency|escape }}</span>                               
                            </div>
                        </div>
                    </div>

                    <div class="form-group col col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select_category">Category:</label>
                            </div>
                            <select class="custom-select" id="select_category" name="record_category">
                                {% for category in categories %}
                                    <option value="{{category.category_id}}">{{ category.name }} - {{category.category_type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col col-12 col-md-10 offset-md-1 text-right"> 
            <button onclick="addRecord({{ cashbox.cashbox_id }})" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>        
    </div>
    <br>
</div>
<div class="row justify-content-center">
    <div class="col col-12 col-md-6 col-lg-3">
        <canvas id="IncomePieChart" width="250" height="250"></canvas>
    </div>
    <div class="col col-12 col-md-6 col-lg-3">
        <canvas id="IncomeBarChart" width="250" height="250"></canvas>
    </div>    
    <div class="col col-12 col-md-6 col-lg-3">
        <canvas id="OutcomePieChart" width="250" height="250"></canvas>
    </div>
    <div class="col col-12 col-md-6 col-lg-3">
        <canvas id="OutcomeBarChart" width="250" height="250"></canvas>
    </div>    
</div>
    <br>
<div class="row justify-content-center">
    <div class="form-group col col-12 col-md-6 col-lg-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="input_daterecor_begin">From:</label>
            </div>
            <input type="date" id="input_daterecor_begin" name="date_record_begin" class="form-control" value="{{cashbox.created_at|date("Y-m-d")}}" onchange="getTimeData()">
        </div>
    </div>

    <div class="form-group col col-12 col-md-6 col-lg-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="input_daterecor_end">To: </label>
            </div>
            <input type="date" id="input_daterecor_end" name="date_record_end" class="form-control" onchange="getTimeData()">
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-12 col-md-6 col-lg-4">
        <canvas id="RecordThrowTime" width="300" height="350"></canvas>
    </div>   
</div> 
    
    
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Created at</th>
                <th scope="col">Cash</th>
            </tr>
        </thead>
        <tbody id="tbody_id">
            {% for record in records %}
                <tr>
                <th scope="row"></th>
                <td>{{ record.name }}</td>
                <td>{{ record.category_type }}</td>
                <td>{{ record.created_at }}</td>
                <td>{{ record.cash }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        
    </div>
    
    <script src="{{ BASE }}assets/js/records.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

  
{% endblock %}

{% block naslov %}
Cashbox detail
{% endblock %}
