{% extends "_global/index.html" %}

{% block main %}
    <div class="col col-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-pencil"></i>
                Edit cashbox
            </div>

            <div class="card-body">
                <form action="{{ BASE }}user/cashboxes/edit/{{ cashbox.cashbox_id }}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="input_cashbox_name" name="cashbox_name"
                                class="form-control"
                                required placeholder="Enter cashbox name." value="{{ cashbox.name|escape }}"
                                pattern=".*[^\s]{3,}.*">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="input_description" name="cashbox_description"
                                class="form-control"
                                required placeholder="Enter cashbox description." value="{{ cashbox.description|escape }}"
                                pattern=".*[^\s]{3,}.*">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-edit"></i> Save
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block naslov %}
Registracija
{% endblock %}
