{% extends "_global/index.html" %}

{% block main %}
<a href="{{ BASE }}user/cashboxes">
    List all cashboxes
</a>

<p>{{ message|escape }}</p>

{% endblock %}

{% block naslov %}
Edit cashbox
{% endblock %}