<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Wallet{% endblock %}
        </title>
        <meta charset="utf-8">

        <!-- <link rel="stylesheet" href="{{ BASE }}assets/css/main.css"> -->
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <section class="container">
            <header class="row justify-content-md-center" id="main-header">
                <div class="col col-12 col-lg-4">
                    <img alt="Banner 1" src="{{ BASE }}assets/img/site/box1.jpg" width='350' height='100'>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light col col-12">
                    <a class="navbar-brand" href="{{ BASE }}"><i class="fa fa-home"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}user/cashboxes"><i class="fa fa-home"></i> Cashboxes</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}user/categories"><i class="fa fa-list"></i> Categories</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}user/logout"><i class="fa fa-sign-in"></i> Log out</a>
                        </ul>
                    </div>
                </nav>
            </header>

            <div>
                {% block main %}
                ...
                {% endblock %}
            </div>

            <aside>
                
            </aside>
            
            <footer id="footer" class="bottom">
                <div class="container text-center">
                    <p class="text-muted credit" style="color:#fff">&copy; 2019 Uros Dragovic</p>
                </div>
            </footer>

            <div id="bookmarks"></div>
            <div id="records"></div>
        </section>

        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        

        <!--<script src="{{ BASE }}assets/js/bookmarks.js"></script>-->
        
    </body>
</html>
