<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Wallet{% endblock %}
        </title>
        <meta charset="utf-8">

        <!-- <link rel="stylesheet" href="{{ BASE }}assets/css/main.css"> -->
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <section class="container">
            <header class="row justify-content-md-center" id="main-header">
                <div class="col col-12 col-lg-4">
                    <img alt="Banner 1" src="{{ BASE }}assets/img/site/box1.jpg" width='350' height='100'>
                </div>
                <div class="col mr-auto">
                    <nav class="navbar navbar-expand col col-12">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto">
                                <a class="nav-item nav-link active" href="{{ BASE }}user/register"><i class="fa fa-user-plus"></i> Sign up <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="{{ BASE }}user/login"><i class="fa fa-sign-in"></i> Log in</a>
                            </div>
                        </div>
                    </nav>
                    
                </div>
            </header>

            <div>
                {% block main %}
                ...
                {% endblock %}
            </div>

            
            

        </section>

        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
